<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <title>All Characters</title>
  <style>
    img{
      max-height: 150px;
      max-width: 150px;
    }
    ul{
      list-style-type: none;
      padding: 0;
    }
  </style>
</head>
<body>
<table class="table table-striped table-bordered">
  <thead>
  <tr>
    <th scope="col">Image</th>
    <th scope="col">ImageURL</th>
    <th scope="col">Character</th>
    <th scope="col">Gender</th>
    <th scope="col">Side</th>
    <th scope="col">Specialty</th>
    <th scope="col">Organisation</th>
    <th scope="col">Squad</th>
    <th scope="col">Sights</th>
    <th scope="col">Release Year</th>
    <th scope="col">Edit</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="operator : ${operators}">
    <td>
      <img src="https://tiermaker.com/images/media/template_images/2024/17385606/all-current-r6-operators-17385606-2/glaz.png" th:src="@{${'https://tiermaker.com/images/media/template_images/2024/17385606/all-current-r6-operators-17385606-2/'+operator.getName().replace('Ã','A').replace('Ä','A').replace('Ø','O').replace('Ó','O').toLowerCase() +'.png'}}">
    </td>
    <td th:text="${operator.getImgUrl()}">/images/operators/GLAZ.png</td>
    <td th:text="${operator.getName()}">GLAZ</td>
    <td th:text="${operator.getGender()}">MALE</td>
    <td th:text="${operator.getSide()}">ATTACKER</td>
    <td>
      <ul th:each="spec : ${operator.getSpecialty()}">
        <li th:text="${spec}">SUPPORT</li>
      </ul>
    </td>
    <td th:text="${operator.getOrganisation()}">SPETSNAZ</td>
    <td th:text="${operator.getSquad()}">REDHAMMER</td>
    <td>
      <ul th:each="sight : ${operator.getSights()}">
        <li th:text="${sight}">
          Iron Sights</li>
      </ul>
    </td>
    <td th:text="${operator.getReleaseYear()}">2015</td>
    <td>
      <a th:href="@{'/siege/edit-form/{id}' (id=${operator.getId()})}" class="btn btn-info">Edit</a>
    </td>
  </tr>
  </tbody>
</table>
<a href="/siege" class="btn btn-secondary">Add new</a>

<!--<div id="attributes" th:each="jjkchar : ${characters}">-->
<!--  <img th:src="${jjkchar.getImgUrl()}">-->
<!--  <div th:text="${jjkchar.getName()}" class="categoryTitle">Name</div>-->
<!--  <div th:text="${jjkchar.getGender()}" class="categoryTitle">Gender</div>-->
<!--  <ul th:each="aff : ${jjkchar.getAffiliations()}">-->
<!--    <li th:text="${aff}"></li>-->
<!--  </ul>-->
<!--  <div th:text="${jjkchar.getJujutsu()}" class="categoryTitle">Jujutsu</div>-->
<!--  <div th:text="${jjkchar.getDomain()}" class="categoryTitle">Domain</div>-->
<!--  <div th:text="${jjkchar.getEnergy()}" class="categoryTitle">Cursed Energy</div>-->
<!--  <div th:text="${jjkchar.getGrade()}" class="categoryTitle">Grade</div>-->
<!--  <div th:text="${jjkchar.getFirstArc()}" class="categoryTitle">First Arc</div>-->
<!--  <div> <a th:href="@{'/edit-form/{id}' (id=${jjkchar.getId()})}" class="btn btn-info">Edit</a></div>-->
<!--</div>-->
</body>
</html>